.error {
    color: red;
}
.warning {
    color: orange;
}
.info {
    color: rgb(15, 15, 15);
}
.debug {
    color: rgb(0, 2, 136);
}
.success{
    color: green;
    font-weight: bold;
}
.fail{
    color: red;
    font-weight: bold;
}
.scope{
    color:cornflowerblue;
}